@import url('https://rsms.me/inter/inter.css');

@tailwind base;

@layer base {
  html {
    @apply h-full;
    @apply w-full;
  }
  body {
    @apply h-full;
    @apply w-full;
    @apply m-0;
  }
  #root {
    @apply h-full;
    @apply w-full;
    @apply m-0;
    @apply font-inter;
  }
  h1 {
    @apply text-4xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(75 85 99) rgb(249 250 251);
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply w-[16px];
  }
  *::-webkit-scrollbar-track {
    background: rgb(249 250 251);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(75 85 99);
    border-radius: 20px;
    border: 3px solid rgb(249 250 251);
  }
}

@tailwind components;

@layer components {
  @keyframes loading-button {
    0% {
      @apply opacity-100;
    }
    50% {
      @apply opacity-70;
    }
    100% {
      @apply opacity-100;
    }
  }
  .loading-button {
    @apply animate-[loading-button_2s_linear_infinite];
  }
  @keyframes loading-dots {
    0% {
      @apply content-[''];
    }
    25% {
      @apply content-['.'];
    }
    50% {
      @apply content-['..'];
    }
    75% {
      @apply content-['...'];
    }
    100% {
      @apply content-[''];
    }
  }
  .loading-dots::after {
    @apply inline-block;
    @apply animate-[loading-dots_steps(1,end)_1s_infinite];
    @apply content-[''];
  }
}

@tailwind utilities;

@layer utilities {
  /* supports normal inputs */
  input:checked {
    @apply bg-input-checked;
    @apply bg-origin-content;
    @apply p-[1.5px];
  }
  /* supports inputs styled with @tailwindcss/forms */
  .form-checkbox:checked {
    @apply bg-input-checked;
    @apply bg-origin-content;
    @apply p-[1.5px];
  }
}
