@import url("https://rsms.me/inter/inter.css");

@tailwind base;

@layer base {
  html {
    @apply h-full;
    @apply w-full;
    @apply font-inter;
  }
  body {
    @apply h-full;
    @apply w-full;
    @apply m-0;
  }
  #root {
    @apply h-full;
    @apply w-full;
    @apply m-0;
  }
  h1 {
    @apply text-4xl;
    @apply font-semibold;
  }
  h2 {
    @apply text-3xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }

  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(75 85 99) rgb(249 250 251);
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(249 250 251);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgb(75 85 99);
    border-radius: 20px;
    border: 3px solid rgb(249 250 251);
  }
}

@tailwind components;

@layer components {
  .loading-button {
    animation: loading-button 2s linear infinite;
  }
  @keyframes loading-button {
    0% {
      @apply opacity-100;
    }
    50% {
      @apply opacity-70;
    }
    100% {
      @apply opacity-100;
    }
  }
  @keyframes loading-dots {
    0% {
      content: '';
    }
    25% {
      content: '.';
    }
    50% {
      content: '..';
    }
    75% {
      content: '...';
    }
    100% {
      content: '';
    }
  }
  .loading-dots::after {
    display: inline-block;
    animation: loading-dots steps(1, end) 1s infinite;
    content: '';
  }
}

@tailwind utilities;
